<!-- welcome -->
<section id="welcome" class="section welcome">

	<div class="container text-center">
		<h1><strong>OFFLINE CDN</strong><br>for developers and webmasters</h1>
		<p>[ <%= data.libraries.size %> ] JavaScript libraries, jQuery plugins, CSS frameworks,<br>and anything else you might need when Your web is unreachable.</p>
	</div>

</section>
<!--//welcome-->