<!-- welcome -->
<section id="welcome" class="section welcome">

	<div class="container text-center">
		<h1><strong>OFFLINE CDN</strong><br>for developers and webmasters<br>who works on the end of the world</h1>
		<p>[ <%= blog('library').articles.count %> ] JavaScript libraries, jQuery plugins, CSS frameworks,<br>and anything else you might need when Your web is unreachable.</p>
	</div>

</section>
<!--//welcome-->