// Highlight Color Customization

//::-moz-selection {
//    text-shadow: none;
//    background: $link-color;
//}

::selection, ::-moz-selection {
    text-shadow: none;
    background: $link-color;
}

img::selection, img::-moz-selection {
    background: transparent;
}

body {
    margin: 0px;
    font-family: $font-txt;
    font-size: $font-txt-size;
    line-height: $font-txt-line;
    color: $body-color;
    font-weight: $font-txt-weight;
    background-color: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    webkit-tap-highlight-color: $link-color;
}

a, a:hover, a:focus, a:active, a:visited {
	outline: 0 none;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	_noFocusLine: expression(this.hideFocus=true); /* Fix for IE7 */
}